services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.35.1
    container_name: weaviate
    restart: unless-stopped

    network_mode: "host"

    command:
      - --host
      - 0.0.0.0
      - --port
      - "22006"
      - --scheme
      - http
      # gRPC 端口由 weaviate 配置/默认决定, 为 50051，

    volumes:
      - ${WEAVIATE_DATA_PATH}:/var/lib/weaviate

    environment:
      QUERY_DEFAULTS_LIMIT: "25"
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"

      # --- 关键集群配置 ---
      CLUSTER_HOSTNAME: "node1"                # 给节点起个固定名字
      CLUSTER_NODES: "node1"                   # 告诉它集群里只有它自己，直接引导
      # --- 端口偏移配置（关键！） ---
      CLUSTER_GOSSIP_BIND_PORT: "22007"   # 原 7946 (节点发现)
      CLUSTER_PORT: "22008"               # 原 7947 (集群元数据 API)
      CLUSTER_DATA_BIND_PORT: "22009"     # 原 8300 (Raft 数据传输)

      # DEFAULT_VECTORIZER_MODULE: "text2vec-openai"
      # ENABLE_API_BASED_MODULES: "true"
      # OPENAI_APIKEY: "${OPENAI_API_KEY}"
      # OPENAI_BASEURL: "https://api.openai.com"
      # HTTP_PROXY: "http://127.0.0.1:12334"
      # HTTPS_PROXY: "http://127.0.0.1:12334"
      # NO_PROXY: "localhost,127.0.0.1"

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:22006/v1/.well-known/ready"]
      interval: 10s
      timeout: 5s
      retries: 15

#     networks:
#       - shared_net

# volumes:
#   weaviate_data:

# networks:
#   shared_net:
#     driver: bridge



# docker compose down
# sudo rm -rf /srv/docker-data/weaviate
# mkdir /srv/docker-data/weaviate
# sudo chmod +777 /srv/docker-data/weaviate